*{
    margin: 10px;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.container{
    padding: 20px;
    width: fit-content;
    border: 1px solid #000;
    box-shadow: 0 0 10px #000;
    border-radius: 3px;
    transform: scale(1.5);
    transition: 0.5s;
    background-color: bisque;
}
.container:hover{
    transform: scale(1.6);
}
#r{
    display: flex;
    justify-content: space-between;
}
.d1{
    border: 1px solid #000;
    background-color: #fff;
    padding: 10px;
    transition: 0.5s;
    
}
.d1:hover{
    background-color: #000;
    color: #fff;
}