.d1{
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    padding: 20px;
    background-color: aquamarine;
    justify-content: center;
    position: relative;
}
.d1 button{
    background-color: chartreuse;
    color: brown;
    border-radius: 10px;
    border: dotted 1px brown;
}
.d1 button:hover{
    background-color: rgb(176, 255, 96);
    color: black;
    border: double 1px white;
}
.d1 input{
    background-color: rgb(176, 255, 229);
}